body{
    text-align: center;
    position: relative;
    top: 75px;
    background-image: url("8.jpg");
    color: white;
}

.bird{
    border-radius: 50%; 
    width: 100px;
    position: relative;
    left: 520px;
    bottom: 15px;
    height: 100px;

}


.bird2{
    border-radius: 50%; 
    width: 100px;
    position: relative;
    left: 520px;
    bottom: 40px;
    height: 100px;

}





h1{
    position: relative;
    bottom: 40px;
}

#mail{
    width: 300px;
    position: relative;
    left: 420px;
    top: 5px;

}

#pass{
    width: 300px;
    position: relative;
    left: 420px;
}

#sbut{
    position: relative;
    top: 20px;
    width: 150px;
}


#abut{
    position: relative;
    left: 200px;
    width: 150px;
    bottom: 18px;
}



#rbut{
    position: relative;
    top: 50px;
    right: 50px;
    width: 200px;
}

#registbut{
    position: relative;
    top: 20px;
    left: 12px;
    bottom: 50px;
    width: 200px;

}

#dropdown1{
    position: relative;
    top: 10px;
    width: 200px;
    left:460px;

}

#ncustomer{
    color: white;
    position: relative;
    top: 40px;
}

#acbut{
    width: 200px;
    height: 40px;
    position: relative;
    top: 20px;
}

#regisbut{
    width: 200px;
    height: 40px;
    position: relative;
    top: 60px;
}

#logbut{
    width: 200px;
    height: 40px;
    position: relative;
    bottom: 35px;
    left: 750px;
}

#cimage{ 
    width: 200px;
    position: relative;
    height: 100px;
    top: 20px;
}

#dpass{
    position: relative;
    left: 600px;
    bottom: 95px;

}

#lpass{
    position: relative;
    left: 600px;
    bottom: 85px;
}

#retreg{
    position: relative;
    left: 210px;
}



